.App {
  text-align: center;
  margin-top: 10px;
}

.btn {
  border: none;
  width: 70px;
  height: 46px;
  border-radius: 6px;
  cursor: pointer;

}
.btn:not(:last-child) {
  margin-right: 30px;
}

.btn.active {
 background-color:  rgba(0, 64, 85, 0.7);
}

.btn-btc  {
  background: url('./img/bitcoin_round.svg') center no-repeat rgba(223, 223, 223, 0.7);;
}

.btn-eth {
  background: url('./img/ethereum_round.svg') center no-repeat rgba(223, 223, 223, 0.7);;
}
.btn-ltc {
  background: url('./img/litecoin_round.svg') center no-repeat rgba(223, 223, 223, 0.7);;
}

.input-usd,
.input-crypto {
  position: relative;
  margin-top: 44px;

}

.input-usd label,
.input-crypto label {
  position: absolute;
  width: 29px;
  height: 16px;
  left: 39%;
  top: -20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 132.1%;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #BBBBBB;
}

#crypto-field,
#usd-field {
width: 370px;
height: 46px;;
background: #FFFFFF;
border: 1px solid #C9C9C9;
border-radius: 6px;
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 132.1%;
letter-spacing: 0.18em;
text-transform: uppercase;
color: #222222;
padding: 0 14px;

}




